root = true
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space

[Makefile]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space

[*.html]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
